Repository elialber/singleclin-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run typecheck --workspace=packages/shared, npm run typecheck --workspace=packages/web-admin, cd packages/backend && dotnet format --include

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "packages/shared/src/**/*.{js,ts}": [
    "npm run typecheck --workspace=packages/shared"
  ],
  "packages/web-admin/src/**/*.{js,ts,tsx}": [
    "npm run typecheck --workspace=packages/web-admin"
  ],
  "packages/backend/**/*.cs": [
    "cd packages/backend && dotnet format --include"
  ]
}

feat: Enhance token refresh service with Firebase idToken listener and improve lifecycle management
  packages/mobile/lib/data/services/app_lifecycle_observer.dart
  packages/mobile/lib/data/services/token_refresh_service.dart
Due: none

feat: Integrate Firebase services, update app namespace, and configure Google Maps API key
  packages/mobile/android/app/build.gradle.kts
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/kotlin/com/singleclin/mobile/MainActivity.kt
  packages/mobile/android/build.gradle
  packages/mobile/android/gradle.properties
  packages/mobile/ios/Podfile
  packages/mobile/ios/Runner.xcodeproj/project.pbxproj
  packages/mobile/ios/Runner/AppDelegate.swift
  packages/mobile/ios/Runner/Info.plist
  packages/mobile/ios/Runner/Runner.entitlements
  packages/mobile/lib/main.dart
Due: none

Add comprehensive documentation for SingleClin system including integration test report, color accessibility analysis, and use cases with testing strategies
  README.md
  coordination/memory_bank/.gitkeep
  coordination/orchestration/.gitkeep
  coordination/subtasks/.gitkeep
  docs/automation/CLAUDE.md
  docs/checklists/lint-errors-checklist.md
  docs/diagrams/.gitkeep
  docs/guides/AZURE_DEPLOYMENT_GUIDE.md
  docs/guides/FIREBASE_SETUP.md
  docs/guides/TUTORIAL_TESTE_TRANSACOES.md
  docs/plans/PLANO-UPLOAD-IMAGENS-CLINICAS.md
  docs/plans/PLANO-WIZARD-CADASTRO-CLINICA.md
  docs/plans/PLANO_EXECUCAO.md
  docs/plans/USER_MANAGEMENT_INTEGRATION_PLAN.md
  docs/plans/plano-agendamento-creditos.md
  docs/reports/INTEGRATION_TEST_REPORT.md
  docs/reports/color-accessibility-analysis.md
  docs/use-cases/CASOS_DE_USO_E_TESTES.md
Due: prettier --write

feat: Remove deprecated Claude Flow CLI scripts and configuration files
  claude-flow
  claude-flow.bat
  claude-flow.ps1
  container-apps-config/backend-app.yaml
  container-apps-config/frontend-app.yaml
  coordination/memory_bank/.gitkeep
  coordination/orchestration/.gitkeep
  coordination/subtasks/.gitkeep
  memory/claude-flow-data.json
Due: prettier --write

Refactor code structure and remove redundant sections for improved readability and maintainability
  packages/backend/Controllers/ClinicController.cs
  packages/backend/Controllers/ConfigDebugController.cs
  packages/backend/Controllers/JobsController.cs
  packages/backend/Controllers/QRCodeController.cs
  packages/backend/Controllers/ReportsController.cs
  packages/backend/Controllers/ServicesController.cs
  packages/backend/Controllers/TransactionController.cs
  packages/backend/Controllers/UserController.cs
  packages/backend/DTOs/Clinic/ClinicResponseDto.cs
  packages/backend/DTOs/ResponseWrapper.cs
  packages/backend/Data/AppDbContext.cs
  packages/backend/Data/ApplicationDbContext.cs
  packages/backend/Data/Interceptors/AuditingInterceptor.cs
  packages/backend/Jobs/BalanceCheckJob.cs
  packages/backend/Program.cs
  packages/backend/Scripts/ApplyProdMigration.cs
  packages/backend/Services/ClinicService.cs
  packages/backend/Services/ExportService.cs
  packages/backend/Services/NotificationService.cs
  packages/backend/Services/QRCodeService.cs
  packages/backend/Services/QRCodeTokenService.cs
  packages/backend/Services/ReportQueryBuilder.cs
  packages/backend/Services/ReportService.cs
  packages/backend/SingleClin.API.xml
  packages/mobile/lint_report.txt
  packages/mobile/main_simple.dart
Due: cd packages/backend && dotnet format --include

fix: Ensure resource shrinking is disabled for both release and debug build types
  packages/mobile/android/app/build.gradle.kts
Due: none

chore: Update Firebase dependencies and enhance session management in the app
  packages/mobile/android/app/build.gradle.kts
  packages/mobile/lib/data/interceptors/auth_interceptor.dart
  packages/mobile/lib/main.dart
Due: none

chore: Update appsettings and database constraints for improved functionality
  packages/backend/EnsureTablesExist.cs
  packages/backend/Services/DomainUserSyncService.cs
  packages/backend/appsettings.json
Due: prettier --write, cd packages/backend && dotnet format --include

fix: corrigir nomes de tabelas e ApplicationDbContext para snake_case
  packages/backend/APPLICATIONDBCONTEXT_FIX.md
  packages/backend/DATABASE_FIXES_SUMMARY.md
  packages/backend/Data/ApplicationDbContext.cs
Due: prettier --write, cd packages/backend && dotnet format --include

fix: Update appointment model and enhance database relationships
  PUSH_INSTRUCTIONS.md
Due: prettier --write

chore: desabilitar CI temporariamente
  .github/workflows/ci.yml
Due: prettier --write

fix: Improve appointment management and database schema
  DEPLOY_STATUS.md
Due: prettier --write

fix: corrigir query do FirebaseRefreshTokenCleanupJob que causava crash
  packages/backend/Jobs/FirebaseRefreshTokenCleanupJob.cs
Due: cd packages/backend && dotnet format --include

fix: CRITICAL - remover ToTable hardcoded que sobrescrevia snake_case
  CRITICAL_FIX_NEEDED.md
  packages/backend/Data/Configurations/ClinicImageConfiguration.cs
  packages/backend/Data/Configurations/ServiceConfiguration.cs
Due: prettier --write, cd packages/backend && dotnet format --include

fix: CRITICAL - remover DROP TABLE que deletava user_plans no startup
  packages/backend/EnsureTablesExist.cs
Due: cd packages/backend && dotnet format --include

fix: aplicar ServiceConfiguration no AppDbContext
  packages/backend/Data/AppDbContext.cs
Due: cd packages/backend && dotnet format --include

fix: forçar nomes de tabelas corretos (clinic_services, clinic_images)
  packages/backend/Data/Configurations/ClinicImageConfiguration.cs
  packages/backend/Data/Configurations/ServiceConfiguration.cs
Due: cd packages/backend && dotnet format --include

fix: garantir que ScheduledDate seja sempre UTC
  packages/backend/Services/AppointmentService.cs
Due: cd packages/backend && dotnet format --include

feat: adicionar dialog de confirmação visual após agendamento
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
Due: none

refactor: simplificar dialog de confirmação com botão OK único
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
Due: none

feat: implementar tela de transações com agendamentos reais
  packages/mobile/lib/features/credits/controllers/credit_history_controller.dart
  packages/mobile/lib/features/credits/models/appointment_model.dart
  packages/mobile/lib/features/credits/screens/credit_history_screen.dart
  packages/mobile/lib/features/credits/services/appointments_api_service.dart
Due: none

debug: adicionar logs detalhados para diagnosticar busca de agendamentos
  packages/mobile/lib/features/credits/services/appointments_api_service.dart
Due: none

fix: forçar criação de nova instância do CreditHistoryController
  packages/mobile/lib/features/credits/bindings/credits_binding.dart
Due: none

debug: adicionar log no onInit do CreditHistoryController
  packages/mobile/lib/features/credits/bindings/credits_binding.dart
  packages/mobile/lib/features/credits/controllers/credit_history_controller.dart
  packages/mobile/lib/features/credits/models/appointment_model.dart
  packages/mobile/lib/features/credits/screens/credit_history_screen.dart
  packages/mobile/lib/features/credits/services/appointments_api_service.dart
  packages/mobile/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/mobile/macos/Flutter/ephemeral/flutter_export_environment.sh
Due: none

fix: corrigir currentIndex da tela de transações e adicionar logs de navegação
  packages/mobile/lib/features/credits/controllers/credit_history_controller.dart
  packages/mobile/lib/features/credits/screens/credit_history_screen.dart
  packages/mobile/lib/shared/controllers/bottom_nav_controller.dart
Due: none

debug: adicionar logs no CreditsBinding
  packages/mobile/lib/features/credits/bindings/credits_binding.dart
Due: none

fix: usar AppPages.routes para habilitar bindings em todas as rotas
  packages/mobile/lib/main.dart
Due: none

fix: adicionar propriedades clinicName e status ao CreditTransactionModel via metadata
  packages/mobile/lib/features/credits/controllers/credit_history_controller.dart
  packages/mobile/lib/features/credits/models/credit_transaction_model.dart
Due: none

fix: adicionar imports do Flutter Material em arquivos que faltavam
  packages/mobile/lib/features/appointments/models/appointment.dart
  packages/mobile/lib/features/discovery/models/service.dart
  packages/mobile/lib/features/discovery/screens/booking_screen.dart
  packages/mobile/lib/features/profile/controllers/profile_controller.dart
Due: none

fix: adicionar imports e corrigir erros de compilação (TransactionSource, MapType, SubscriptionPlan)
  packages/mobile/lib/features/credits/controllers/credit_history_controller.dart
  packages/mobile/lib/features/credits/controllers/credits_controller.dart
  packages/mobile/lib/features/credits/models/credit_transaction_model.dart
  packages/mobile/lib/features/discovery/controllers/map_controller.dart
  packages/mobile/lib/features/profile/controllers/health_history_controller.dart
Due: none

temp: comentar rotas com erros de compilação para permitir teste da tela de transações
  packages/mobile/lib/routes/app_pages.dart
Due: none

temp: comentar ProfileScreen também para permitir compilação
  packages/mobile/lib/routes/app_pages.dart
Due: none

fix: corrigir DashboardController - usar Service ao invés de ServiceModel
  packages/mobile/lib/features/dashboard/controllers/dashboard_controller.dart
Due: none

temp: comentar imports problemáticos no AppPages para permitir compilação
  packages/mobile/lib/routes/app_pages.dart
Due: none

fix: corrigir navegação do onboarding para login ao invés de dashboard
  packages/mobile/lib/features/onboarding/controllers/onboarding_controller.dart
Due: none

fix: pular onboarding e ir direto para login no splash screen
  packages/mobile/lib/features/onboarding/screens/splash_screen.dart
Due: none
