Repository elialber/singleclin-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run typecheck --workspace=packages/shared, npm run typecheck --workspace=packages/web-admin, cd packages/backend && dotnet format --include

fix: resolve Docker build issues with workspace dependencies
  package-lock.json
  package.json
  packages/web-admin/Dockerfile
  packages/web-admin/package.json
Due: prettier --write

fix: resolver erro 403 JWT - corrigir NameIdentifier claim e aumentar tempo de expiração
  packages/backend/Middleware/JwtAuthenticationMiddleware.cs
  packages/backend/Services/AuthService.cs
  packages/backend/Services/JwtService.cs
  packages/backend/appsettings.Development.json
  packages/backend/appsettings.json
Due: prettier --write, cd packages/backend && dotnet format --include

fix: corrigir problemas no CI/CD - Node.js 20 e diretório de testes
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: atualizar package-lock.json do root
  package-lock.json
Due: prettier --write

fix: ignorar scripts no npm ci para evitar erro husky
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: configurar Redis connection string correta do Azure Cache
  .taskmaster/tasks/tasks.json
Due: prettier --write

fix: corrigir diretório de testes backend
  .github/workflows/build-and-deploy.yml
Due: prettier --write

feat: aplicar Container responsivo em todas as páginas principais
  packages/web-admin/src/pages/Dashboard.tsx
  packages/web-admin/src/pages/clinics/Clinics.tsx
  packages/web-admin/src/pages/patients/Patients.tsx
  packages/web-admin/src/pages/plans/Plans.tsx
Due: eslint --fix, prettier --write, npm run typecheck --workspace=packages/web-admin

feat: implement email confirmation during user registration
  packages/backend/Controllers/UserController.cs
  packages/backend/DTOs/EmailTemplate/UserConfirmationTemplateData.cs
  packages/backend/Program.cs
  packages/backend/Services/AzureCommunicationService.cs
  packages/backend/Services/EmailTemplateService.cs
  packages/backend/Services/IAzureCommunicationService.cs
  packages/backend/Services/IEmailTemplateService.cs
  packages/backend/Services/IUserService.cs
  packages/backend/Services/UserService.cs
  packages/backend/SingleClin.API.csproj
  packages/backend/SingleClin.API.xml
  packages/backend/Templates/Email/UserConfirmation.html
  packages/backend/Templates/Email/UserConfirmation.txt
  packages/backend/appsettings.json
Due: prettier --write, cd packages/backend && dotnet format --include

ajustando as versões
  .claude/settings.local.json
  .github/workflows/build-and-deploy.yml
Due: prettier --write

fix: update email domain to Azure Communication Services managed domain
  packages/backend/appsettings.json
Due: prettier --write

feat: add email confirmation to AuthService.RegisterAsync
  packages/backend/Services/AuthService.cs
Due: cd packages/backend && dotnet format --include

feat: configure custom domain singleclin.com.br for email sending
  packages/backend/appsettings.json
Due: prettier --write

fix: enhance email debugging with fallback Azure domain and detailed logging
  packages/backend/Services/AzureCommunicationService.cs
  packages/backend/appsettings.json
Due: prettier --write, cd packages/backend && dotnet format --include

fix: include email templates in Docker build output
  packages/backend/SingleClin.API.csproj
Due: none

fix: remove non-existent Id property from EmailSendResult
  packages/backend/Services/AzureCommunicationService.cs
Due: cd packages/backend && dotnet format --include

ajustando o dominio
  docs/FIREBASE_SETUP.md
  packages/backend/DTOs/EmailTemplate/LowBalanceTemplateData.cs
  packages/backend/DTOs/EmailTemplate/UserConfirmationTemplateData.cs
Due: prettier --write, cd packages/backend && dotnet format --include

arrumando a casa do app
  packages/mobile/lib/features/appointment_booking/screens/appointment_booking_screen.dart
  packages/mobile/lib/features/auth/controllers/auth_controller.dart
  packages/mobile/lib/routes/app_pages_minimal.dart
  packages/mobile/lib/shared/controllers/bottom_nav_controller.dart
Due: none

feat: implement bottom navigation menu with existing clinic discovery screen
  packages/mobile/lib/core/utils/app_bindings.dart
  packages/mobile/lib/features/credits/bindings/credits_binding.dart
  packages/mobile/lib/features/credits/screens/credit_history_screen.dart
  packages/mobile/lib/features/credits/screens/subscription_plans_screen.dart
  packages/mobile/lib/features/discovery/screens/discovery_screen.dart
  packages/mobile/lib/features/profile/screens/profile_screen.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/main_new.dart
  packages/mobile/lib/presentation/controllers/auth_controller.dart
  packages/mobile/lib/presentation/screens/splash_screen.dart
  packages/mobile/lib/routes/app_pages.dart
  packages/mobile/lib/shared/controllers/bottom_nav_controller.dart
  packages/mobile/lib/shared/widgets/custom_bottom_nav.dart
  packages/mobile/lib/temp_dashboard.dart
Due: none

feat: replace temporary profile screen with analysis and optimization
  packages/mobile/lib/features/profile/screens/profile_screen.dart
  packages/mobile/lib/temp_dashboard.dart
Due: none

feat: implement profile navigation with existing ProfileScreen
  packages/mobile/lib/main.dart
  packages/mobile/lib/presentation/screens/profile_screen.dart
  packages/mobile/lib/shared/widgets/custom_bottom_nav.dart
Due: none

feat: configure app to use production API https://api.singleclin.com.br/api
  packages/mobile/lib/core/constants/api_constants.dart
  packages/mobile/lib/core/constants/app_constants.dart
  packages/mobile/lib/presentation/screens/clinic/scan_history_screen.dart
  packages/mobile/lib/presentation/widgets/patient_data_bottom_sheet.dart
Due: none

filtros por categoria
  packages/mobile/lib/features/clinic_discovery/controllers/clinic_discovery_controller.dart
  packages/mobile/lib/features/clinic_discovery/models/clinic.dart
  packages/mobile/lib/features/clinic_discovery/screens/clinic_discovery_screen.dart
  packages/mobile/lib/features/clinic_discovery/widgets/clinic_card.dart
Due: none

feat: implement dynamic quick filters based on real API service categories
  packages/mobile/lib/features/clinic_discovery/controllers/clinic_discovery_controller.dart
  packages/mobile/lib/features/clinic_discovery/screens/clinic_discovery_screen.dart
Due: none

feat: enhance login button styling consistency
  packages/mobile/lib/features/auth/screens/login_screen.dart
Due: none

feat: enhance login button size and styling
  packages/mobile/lib/features/auth/screens/login_screen.dart
  packages/mobile/lib/presentation/screens/auth/login_screen.dart
Due: none

fix: resolve Firebase authentication flow and add user registration
  packages/mobile/lib/data/repositories/firebase_auth_repository.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/presentation/controllers/auth_controller.dart
Due: none

feat: integrate real user data in profile screen and enhance transaction history
  packages/mobile/lib/presentation/screens/profile_screen.dart
  packages/mobile/lib/temp_dashboard.dart
Due: none

fix: ajustar preços dos serviços para usar créditos SG em vez de valores monetários
  packages/mobile/lib/features/appointments/controllers/appointment_details_controller.dart
  packages/mobile/lib/features/appointments/widgets/appointment_card.dart
  packages/mobile/lib/presentation/widgets/recent_visits_card.dart
Due: none

fix: ajustar preços mock dos serviços para valores realistas em SG
  packages/mobile/lib/features/appointments/controllers/appointments_controller.dart
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
Due: none

fix: use real service prices instead of mock formulas
  packages/mobile/lib/features/clinic_discovery/models/clinic.dart
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
Due: none

fix: update codebase for new service data structure
  packages/mobile/lib/features/clinic_discovery/controllers/clinic_discovery_controller.dart
  packages/mobile/lib/features/clinic_discovery/screens/clinic_details_screen.dart
  packages/mobile/lib/features/clinic_discovery/services/clinic_discovery_service.dart
Due: none

fix: resolve insufficient credits message appearing prematurely
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
  packages/mobile/lib/features/clinic_services/screens/clinic_services_screen.dart
  packages/mobile/lib/features/clinic_services/widgets/service_list_item.dart
Due: none

docs: add comprehensive appointment confirmation system plan
  plano-agendamento-creditos.md
Due: prettier --write

feat: complete Phase 1 - appointment scheduling system with credit debit
  packages/backend/Controllers/AppointmentsController.cs
  packages/backend/Controllers/ClinicController.cs
  packages/backend/Controllers/ServicesController.cs
  packages/backend/DTOs/Appointment/AppointmentConfirmationDto.cs
  packages/backend/DTOs/Appointment/AppointmentResponseDto.cs
  packages/backend/DTOs/Appointment/AppointmentScheduleDto.cs
  packages/backend/DTOs/Appointment/AppointmentSummaryDto.cs
  packages/backend/DTOs/Appointment/ServiceDto.cs
  packages/backend/DTOs/Clinic/ClinicServiceDto.cs
  packages/backend/Data/AppDbContext.cs
  packages/backend/Data/ApplicationDbContext.cs
  packages/backend/Data/Configurations/ServiceConfiguration.cs
  packages/backend/Data/Models/Appointment.cs
  packages/backend/Data/Models/Enums/AppointmentStatus.cs
  packages/backend/Program.cs
  packages/backend/Services/AppointmentService.cs
  packages/backend/Services/ClinicService.cs
  packages/backend/Services/CreditValidationService.cs
  packages/backend/Services/IAppointmentService.cs
  packages/backend/Services/ICreditValidationService.cs
  packages/backend/Services/ITransactionService.cs
  packages/backend/Services/TransactionService.cs
  packages/backend/SingleClin.API.xml
Due: cd packages/backend && dotnet format --include

fix: resolve API timeout issues in CreditValidationService
  packages/backend/Services/CreditValidationService.cs
Due: cd packages/backend && dotnet format --include

feat: add Services and Appointments types to shared package
  packages/shared/src/types/index.ts
  packages/shared/src/utils/index.ts
  plano-agendamento-creditos.md
Due: eslint --fix, prettier --write, npm run typecheck --workspace=packages/shared

feat: remove mock clinic data and integrate with real API
  packages/mobile/lib/features/clinic_discovery/services/clinic_discovery_service.dart
Due: none

fix: improve ClinicService.GetActiveAsync error handling
  packages/backend/Services/ClinicService.cs
Due: cd packages/backend && dotnet format --include

feat: complete Phase 2 - mobile appointment scheduling system
  packages/backend/Extensions/DatabaseExtensions.cs
  packages/backend/Migrations/ApplicationDb/20250921200000_AddCreditCostToServices.cs
  packages/backend/SingleClin.API.xml
Due: cd packages/backend && dotnet format --include

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  npm run typecheck --workspace=packages/shared: any of: packages/shared/src/**/*.{js,ts}
  npm run typecheck --workspace=packages/web-admin: any of: packages/web-admin/src/**/*.{js,ts,tsx}
  cd packages/backend && dotnet format --include: any of: packages/backend/**/*.cs
