Repository elialber/singleclin-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run typecheck --workspace=packages/shared, npm run typecheck --workspace=packages/web-admin, cd packages/backend && dotnet format --include

feat: add detailed Firebase token validation logging
  packages/backend/Middleware/JwtAuthenticationMiddleware.cs
Due: cd packages/backend && dotnet format --include

feat: implementar tela de perfil completa
  packages/mobile/lib/features/auth/controllers/auth_controller.dart
  packages/mobile/lib/features/profile/bindings/profile_binding.dart
  packages/mobile/lib/features/profile/controllers/profile_controller.dart
  packages/mobile/lib/features/profile/screens/profile_screen.dart
  packages/mobile/lib/routes/app_pages.dart
Due: none

debug: adicionar logs para debug da tela de perfil
  packages/mobile/lib/features/profile/controllers/profile_controller.dart
  packages/mobile/lib/features/profile/screens/profile_screen.dart
Due: none

fix: corrigir exibição de créditos no perfil e transações
  packages/mobile/lib/features/credits/controllers/credit_history_controller.dart
  packages/mobile/lib/features/profile/controllers/profile_controller.dart
Due: none

lifecycle: garantir singletons e timers limpos
  packages/mobile/lib/core/services/session_manager.dart
  packages/mobile/lib/features/clinic_discovery/controllers/clinics_list_controller.dart
  packages/mobile/lib/main.dart
Due: none

feat: integrate centralized CreditsService for credit management
  credentials/singleclin-app-firebase-adminsdk-fbsvc-bbc385ecce.json
  packages/mobile/lib/core/services/credits_service.dart
  packages/mobile/lib/data/repositories/clinic_repository.dart
  packages/mobile/lib/data/repositories/credit_repository.dart
  packages/mobile/lib/data/repositories/user_repository.dart
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
  packages/mobile/lib/features/clinic_services/screens/clinic_services_screen.dart
  packages/mobile/lib/features/clinic_services/services/clinic_services_api.dart
  packages/mobile/lib/features/credits/controllers/credit_history_controller.dart
  packages/mobile/lib/features/profile/controllers/profile_controller.dart
  packages/mobile/lib/features/profile/screens/profile_screen.dart
  packages/mobile/lib/main.dart
Due: prettier --write

feat: enhance user management and appointment retrieval
  packages/backend/Controllers/UserController.cs
  packages/backend/DTOs/User/UpdateUserDto.cs
  packages/backend/Services/UserService.cs
  packages/backend/SingleClin.API.xml
Due: cd packages/backend && dotnet format --include

infra: melhorar readiness e remover warnings
  .github/workflows/ci-tests.yml
  packages/backend/Dockerfile
  packages/mobile/android/app/src/main/AndroidManifest.xml
Due: prettier --write

health: readiness usa apenas checks 'ready' (exclui firebase)
  packages/backend/Program.cs
Due: cd packages/backend && dotnet format --include

ci: remover workflow ci-tests.yml
  .github/workflows/ci-tests.yml
Due: prettier --write

ci: remover workflows restantes de CI Tests (ci.yml e test.yml)
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: prettier --write

security: remover credencial exposta do repo
  credentials/singleclin-app-firebase-adminsdk-fbsvc-bbc385ecce.json
Due: prettier --write

chore: bloquear credenciais no .gitignore
  .gitignore
Due: none

auth: enviar X-Firebase-Token no mobile e mapear Firebase UID->GUID no backend (NameIdentifier/claims)
  packages/backend/Middleware/JwtAuthenticationMiddleware.cs
  packages/mobile/lib/core/services/api_service.dart
Due: cd packages/backend && dotnet format --include

refactor: improve phone number formatting and payload handling in ProfileController
  packages/mobile/lib/features/profile/controllers/profile_controller.dart
Due: none

feat: implement clinic image carousel and enhance clinic details display
  packages/mobile/lib/features/clinic_discovery/screens/clinics_list_screen.dart
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  npm run typecheck --workspace=packages/shared: any of: packages/shared/src/**/*.{js,ts}
  npm run typecheck --workspace=packages/web-admin: any of: packages/web-admin/src/**/*.{js,ts,tsx}
  cd packages/backend && dotnet format --include: any of: packages/backend/**/*.cs
