Repository elialber/singleclin-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run typecheck --workspace=packages/shared, npm run typecheck --workspace=packages/web-admin, cd packages/backend && dotnet format --include

feat: complete appointment system integration and fix production database
  packages/backend/PRODUCTION_MIGRATION_GUIDE.md
  packages/backend/Scripts/ApplyProdMigration.cs
  packages/backend/Scripts/MigrationScript.csproj
  packages/backend/Scripts/Program.cs
  packages/backend/apply-prod-migration.sql
Due: prettier --write, cd packages/backend && dotnet format --include

fix: add fallback for clinic repository when services table has schema issues
  packages/backend/Repositories/ClinicRepository.cs
Due: cd packages/backend && dotnet format --include

fix: resolve clinic API 500 error and improve development setup
  packages/backend/Repositories/ClinicRepository.cs
  packages/backend/Scripts/ApplyProdMigration.cs
  packages/backend/Scripts/Program.cs
  packages/backend/Scripts/Program.cs.bak
  packages/backend/SingleClin.API.csproj
  packages/backend/SingleClin.API.xml
  packages/backend/global.json
Due: prettier --write, cd packages/backend && dotnet format --include

fix: add rollForward to global.json for Docker compatibility
  packages/backend/global.json
Due: prettier --write

fix: resolve clinic service validation and mobile app rendering issues
  packages/backend/DTOs/Clinic/ClinicServiceDto.cs
  packages/backend/Services/ClinicService.cs
  packages/backend/SingleClin.API.csproj
  packages/backend/Validators/ClinicServiceDtoValidator.cs
  packages/backend/global.json
  packages/mobile/lib/features/clinic_discovery/models/clinic.dart
  packages/mobile/lib/features/discovery/screens/discovery_screen.dart
  packages/mobile/lib/features/discovery/widgets/clinic_card.dart
Due: prettier --write, cd packages/backend && dotnet format --include

fix: resolve PostgreSQL database schema issues with JOIN queries
  packages/backend/Migrations/20250922162558_FixServiceIsActiveColumn.Designer.cs
  packages/backend/Migrations/20250922162558_FixServiceIsActiveColumn.cs
  packages/backend/Repositories/ClinicRepository.cs
Due: cd packages/backend && dotnet format --include

fix: revert to .NET 9.0 for Docker compatibility
  packages/backend/SingleClin.API.csproj
  packages/backend/global.json
Due: prettier --write

fix: improve CI/CD workflow test handling
  .github/workflows/build-and-deploy.yml
Due: prettier --write

fix: correct clinic service API contract mismatch
  packages/web-admin/src/pages/clinics/ClinicStepper.tsx
  packages/web-admin/src/types/clinic.ts
Due: eslint --fix, prettier --write, npm run typecheck --workspace=packages/web-admin

fix: add missing CreditCost field in service creation
  packages/backend/Services/ClinicService.cs
Due: cd packages/backend && dotnet format --include

fix: resolve database schema mismatch for Services table
  packages/backend/Data/Configurations/ServiceConfiguration.cs
  packages/backend/SingleClin.API.xml
  packages/backend/appsettings.json
  plano-agendamento-creditos.md
Due: prettier --write, cd packages/backend && dotnet format --include

fix: resolve CI frontend test failures and improve test stability
  .github/workflows/build-and-deploy.yml
  packages/web-admin/src/components/clinic/stepper/__tests__/useDraftSaver.test.ts
  packages/web-admin/src/test/setup.ts
  packages/web-admin/vitest.config.ts
Due: eslint --fix, prettier --write, npm run typecheck --workspace=packages/web-admin

fix: revert ServiceConfiguration to ClinicServices table and create SQL script
  packages/backend/Data/Configurations/ServiceConfiguration.cs
  packages/backend/Scripts/add_is_active_column.sql
Due: cd packages/backend && dotnet format --include

feat: add database migration endpoint for is_active column
  packages/backend/Controllers/ConfigDebugController.cs
  packages/backend/Scripts/simple_add_column.sql
Due: cd packages/backend && dotnet format --include

fix: resolve clinic image loading issue in mobile app
  packages/backend/Data/ApplicationDbContext.cs
  packages/backend/Repositories/ClinicRepository.cs
  packages/backend/Services/ClinicService.cs
  packages/backend/SingleClin.API.csproj
  packages/mobile/lib/data/interceptors/auth_interceptor.dart
  packages/mobile/lib/data/services/clinic_api_service.dart
  packages/mobile/lib/features/clinic_discovery/models/clinic.dart
  packages/mobile/lib/features/clinic_discovery/widgets/clinic_card.dart
Due: cd packages/backend && dotnet format --include

fix: revert target framework to NET 9.0 for production compatibility
  packages/backend/SingleClin.API.csproj
Due: none

ajustando
  packages/mobile/lib/core/services/api_service.dart
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
  packages/mobile/lib/features/clinic_services/services/clinic_services_api.dart
Due: none

fix: resolve credit calculation issue by removing expired plan filter
  packages/backend/Services/CreditValidationService.cs
  packages/mobile/lib/core/services/api_service.dart
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
  packages/mobile/lib/features/clinic_services/services/clinic_services_api.dart
Due: cd packages/backend && dotnet format --include

debug: add extensive logging to CreditValidationService for troubleshooting
  packages/backend/Services/CreditValidationService.cs
Due: cd packages/backend && dotnet format --include

fix: resolve critical credit calculation bug - use ApplicationUserId for all queries
  packages/backend/Services/CreditValidationService.cs
Due: cd packages/backend && dotnet format --include

fix: resolve credit synchronization issue after purchase-plan
  packages/backend/Controllers/UserController.cs
  packages/backend/Services/CreditValidationService.cs
  packages/backend/Services/UserService.cs
Due: cd packages/backend && dotnet format --include

erro 401
  packages/backend/SingleClin.API.xml
  packages/mobile/lib/core/constants/app_constants.dart
  packages/mobile/lib/core/services/api_service.dart
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
Due: none

feat: implement missing /auth/sync endpoint for Firebase user synchronization
  packages/backend/Controllers/AuthController.cs
  packages/backend/DTOs/Auth/SyncUserDto.cs
  packages/backend/Services/AuthService.cs
  packages/backend/Services/IAuthService.cs
  packages/backend/SingleClin.API.xml
Due: cd packages/backend && dotnet format --include

fix: implement JWT token usage from sync endpoint
  packages/mobile/lib/data/services/user_api_service.dart
  packages/mobile/lib/features/auth/controllers/auth_controller.dart
Due: none

fix: correct JWT token extraction from sync endpoint
  packages/mobile/lib/data/services/user_api_service.dart
Due: none

debug: add detailed JWT token storage verification
  packages/mobile/lib/data/services/user_api_service.dart
  packages/mobile/lib/features/auth/controllers/auth_controller.dart
Due: none

fix: prioritize JWT token directly in ApiService interceptor
  packages/mobile/lib/core/services/api_service.dart
Due: none

fix: complete appointment scheduling system fixes
  packages/backend/Services/AuthService.cs
  packages/mobile/lib/features/clinic_services/controllers/clinic_services_controller.dart
  packages/mobile/lib/features/clinic_services/services/clinic_services_api.dart
Due: cd packages/backend && dotnet format --include

fix: resolve ASP0019 warnings in rate limiting middleware
  packages/backend/Middleware/ClinicRateLimitingMiddleware.cs
Due: cd packages/backend && dotnet format --include

fix: resolve compilation errors in AuthService.cs
  packages/backend/Services/AuthService.cs
Due: cd packages/backend && dotnet format --include

fix: resolve 'User not found' error in appointment scheduling
  packages/backend/Services/AppointmentService.cs
  packages/backend/SingleClin.API.xml
Due: cd packages/backend && dotnet format --include

fix: resolve user registration Firebase integration issues
  packages/backend/Controllers/AuthController.cs
  packages/backend/Middleware/CorsHandlerMiddleware.cs
  packages/backend/Middleware/GlobalExceptionHandlerMiddleware.cs
  packages/backend/Program.cs
  packages/backend/Services/AuthService.cs
  packages/backend/Services/FirebaseAuthService.cs
  packages/backend/Services/IAuthService.cs
Due: cd packages/backend && dotnet format --include

fix: resolve Docker build compilation errors
  packages/backend/Dockerfile
  packages/backend/Middleware/CorsHandlerMiddleware.cs
  packages/backend/Middleware/GlobalExceptionHandlerMiddleware.cs
  packages/backend/Services/FirebaseAuthService.cs
Due: cd packages/backend && dotnet format --include

feat: implement Firebase token exchange and cleanup job for refresh tokens
  packages/backend/Controllers/AuthController.cs
  packages/backend/Jobs/FirebaseRefreshTokenCleanupJob.cs
  packages/backend/Middleware/FirebaseAuthenticationMiddleware.cs
  packages/backend/Program.cs
  packages/backend/SingleClin.API.xml
  redflags.md
Due: prettier --write, cd packages/backend && dotnet format --include

feat: add Firebase user reconciliation job and user deletion service for improved user management
  packages/backend/Jobs/FirebaseUserReconciliationJob.cs
  packages/backend/Program.cs
  packages/backend/Services/IUserDeletionService.cs
  packages/backend/Services/UserDeletionService.cs
  packages/backend/Services/UserService.cs
  packages/backend/SingleClin.API.xml
  redflags.md
Due: prettier --write, cd packages/backend && dotnet format --include

feat: Implement user synchronization and provisioning services
  packages/backend/Jobs/DomainUserReconciliationJob.cs
  packages/backend/Jobs/FirebaseUserProvisioningJob.cs
  packages/backend/Program.cs
  packages/backend/Services/AuthService.cs
  packages/backend/Services/DomainUserSyncService.cs
  packages/backend/Services/FirebaseUserProvisioningQueue.cs
  packages/backend/Services/IDomainUserSyncService.cs
  packages/backend/Services/IFirebaseUserProvisioningQueue.cs
  packages/backend/Services/UserDeletionService.cs
  packages/backend/Services/UserService.cs
  redflags.md
Due: prettier --write, cd packages/backend && dotnet format --include

Refactor authentication flow and add Firebase initialization handling
  packages/mobile/lib/core/services/session_manager.dart
  packages/mobile/lib/core/services/storage_service.dart
  packages/mobile/lib/data/interceptors/auth_interceptor.dart
  packages/mobile/lib/data/services/firebase_initialization_service.dart
  packages/mobile/lib/data/services/session_revocation_service.dart
  packages/mobile/lib/data/services/token_refresh_service.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/presentation/controllers/auth_controller.dart
  packages/mobile/lib/presentation/screens/auth/forgot_password_screen.dart
  packages/mobile/lib/presentation/screens/auth/login_screen.dart
  packages/mobile/lib/presentation/screens/auth/register_screen.dart
  packages/mobile/lib/presentation/screens/firebase_unavailable_screen.dart
  packages/mobile/lib/presentation/screens/splash_screen.dart
  packages/mobile/lib/presentation/widgets/firebase_unavailable_view.dart
  redflags.md
Due: prettier --write

feat: Add debug state management to FirebaseInitializationService and implement tests for FirebaseUnavailableView
  packages/mobile/lib/data/services/firebase_initialization_service.dart
  packages/mobile/test/firebase_unavailable_view_test.dart
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  npm run typecheck --workspace=packages/shared: any of: packages/shared/src/**/*.{js,ts}
  npm run typecheck --workspace=packages/web-admin: any of: packages/web-admin/src/**/*.{js,ts,tsx}
  cd packages/backend && dotnet format --include: any of: packages/backend/**/*.cs
